<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/x-icon" href="/images/twitter-logo.png">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a class="white-bg" href="/home">
        <img alt="logo" class="nav-logo" src="/images/twitter-logo.png" referrerpolicy="no-referrer" >
      </a>
      <a class="white-bg" href="/home">
        <img alt="logo" class="nav-logo" src="/images/home_icon.png" referrerpolicy="no-referrer" >
      </a>
      <a class="white-bg" href="/users">
      <img alt="logo" class="nav-logo" src="/images/profile_icon.png" referrerpolicy="no-referrer" >
    </a>
    <a class="white-bg" href="/bookmarks">
      <img alt="logo" class="nav-logo" src="/images/bookmark_icon.png" referrerpolicy="no-referrer" >
    </a>
    <a class="white-bg" href="/logout">
      <img alt="logo" class="nav-logo" src="/images/logout_icon.png" referrerpolicy="no-referrer" >
    </a>
      <% } %>
  </nav>
