* {
  font-family: Helvetica;
  color: #424748;
  background-color: rgb(231, 231, 232);
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1px;
  grid-template-areas: 
    "nav main"
}

body > nav {
  grid-area: nav;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 30px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

ul {
  align-items: center;
  justify-content: center;
  list-style-type: none;
  background-color: white;
}

li {
  background-color: white;
}

.avatar {
  display: inline;
  border-radius: 50%;
  height: 46px;
  margin-right: 3px;
  margin-top: 5px;
  margin-left: 5px;
}

#profile-avatar {
  display: flex;
  border-radius: 50%;
  height: 110px;
  width: 110px;
}

.white-bg {
  background-color: white;
}

.nav-logo {
  height: 45px;
  width: auto;
  margin: 20px;
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
}

.nav-logo:hover {
  color: black;
  background-color: rgb(231, 231, 232);
  padding: 15px;
  border-radius: 50%;
  border-width: 1px;
}

#tweet-btn {
  border-radius: 30px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color:  rgb(74, 153, 233);
  color: white;
  font-size: 16px;
  border: none;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
}

#tweet-btn:hover {
  background-color: rgb(66, 138, 210);
  cursor: pointer;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

#tweet-post {
  margin: 10px;
  background-color: white;
}

#home-page-nav {
  font-size: 10px;
}

.nav-reply-img {
  background-color: white;
  height: 18px;
  width: auto;
  padding: 5px;
}

.nav-reply-img:hover {
  background-color: rgb(230 238 246);
  color: rgb(74 153 233);
  border: none;
  border-radius: 50%;
}

.nav-rt-img {
  background-color: white;
  height: 18px;
  width: auto;
  padding: 5px;
}

.nav-rt-img:hover {
  background-color: rgb(230 241 235);
  color: rgb(83 183 129);
  border: none;
  border-radius: 50%;
}

.nav-rt-filled-img {
  background-color: white;
  height: 20px;
  width: auto;
  padding: 3px;
}

.nav-rt-filled-img:hover {
  background-color: rgb(230 241 235);
  color: rgb(83 183 129);
  border: none;
  border-radius: 50%;
}

#rt-text {
  font-size: 12px;
}

.nav-like-img {
  background-color: white;
  height: 18px;
  width: auto;
  padding: 5px 0px 5px 0px;
}

.nav-like-img:hover {
  background-color: rgb(245 228 235);
  color: rgb(230 68 134);
  border: none;
  border-radius: 50%;
}

.nav-like-filled-img {
  background-color: white;
  height: 16px;
  width: auto;
  padding: 5px 0px 5px 0px;
  margin-right: 3px;
}

.nav-bm-img {
  background-color: white;
  height: 18px;
  width: auto;
  padding: 5px;
}

.nav-bm-img:hover {
  background-color: rgb(231, 231, 232);
  border: none;
  border-radius: 50%;
}

.nav-bm-filled-img {
  background-color: white;
  height: 12px;
  width: 17px;
  padding: 5px;
}

.nav-del-img {
  display: inline;
  width: 16px;
  max-height: auto;
  height: auto;
  background-color: white;
  margin-left: 5px;
}

.nav-del-img:hover {
  width: 16px;
  max-height: auto;
  height: auto;
  background-color: white;
  margin-left: 5px;
}

#submit-tweet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title {
  font-size: 28px;
  display: flex;
  justify-content: left;
  align-items: left;
}

#home-page-avatar {
  height: 100px;
  width: auto;
  border-radius: 50%;
  justify-content: center;
  margin-right: 5px;
}

#tweet-text {
  border-color: rgb(231, 231, 232);
  width: 420px;
  height: 130px;
  border-radius: 10px;
}

textarea {
  padding: 6px;
  box-sizing: border-box;
}

.flex-ctr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inline-ctr {
  background-color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.post-text {
  display: block;
  margin-top: -25px;
  margin-left: 65px;
}

.profile-post-text {
  display: block;
  margin-top: -25px;
  margin-left: 60px;
}

.tweet-text-border {
  border: 1px solid rgb(231, 231, 232);
  height: 200px;
  width: 400px;
  border-radius: 10px;
}

.tweet-nav-border {
  border: 1px solid rgb(231, 231, 232);
  border-radius: 10px;
}

.nav-space {
  display: flex;
  justify-content: space-evenly;
}

.prof-tweets-head {
  background-color: white;
  text-decoration: underline solid  rgb(74, 153, 233) 7px;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}

.prof-tweets-head:hover {
  background-color: rgb(231, 231, 232);
}

.profile-nav {
  background-color: white;
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

.profile-nav:hover {
  color: black;
  background-color: rgb(231, 231, 232);
}

.tweet-hdr-text {
  background-color: white;
  font-weight: bold;
  margin-top: -15px;
}

.tweet-hdr {
  margin: 5px 5px 10px 5px;
}

.tweet-date{
  background-color: white;
  font-weight: lighter;
  font-size: 14px;
  margin-left: 7px;
  margin-top: -13px;
  /* margin-right: 140px; */
}

.test {
  display: block
}

#reply-text {
  border-color: rgb(231, 231, 232);
  width: 250px;
  height: 50px;
  border-radius: 10px;
}

.edit-delete {
  display: flex;
  justify-content: right;
  margin-right: 5px;
  margin-top: -42px;
  margin-bottom: 30px;
}