<%- include('../partials/header') %>
<main>
    <% if (user) { %>
        <img alt="avatar" class="profile-avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer" >
        <h1 class="white-bg"><%= user.name %></h1>
        <h1 class="white-bg">Bookmarks</h1>
    <% } %>
</main>
<%- include('../partials/footer') %>